# Notebook for airbnb predition
* Question 1
* Question 2

In [1]:
#Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

In [8]:
#Loading Data
df_seattle_listings = pd.read_csv("C:\\Github\\personal\\udacity_airbnb\\src_data\\airbnb\\seattle\\project_data\\listings.csv")
df_seattle_calendar = pd.read_csv("C:\\Github\\personal\\udacity_airbnb\\src_data\\airbnb\\seattle\\project_data\\calendar.csv")
df_seattle_reviews = pd.read_csv("C:\\Github\\personal\\udacity_airbnb\\src_data\\airbnb\\seattle\\project_data\\reviews.csv")

df_boston_listings = pd.read_csv("C:\\Github\\personal\\udacity_airbnb\\src_data\\airbnb\\boston\\project_data\\listings.csv")
df_boston_calendar = pd.read_csv("C:\\Github\\personal\\udacity_airbnb\\src_data\\airbnb\\boston\\project_data\\calendar.csv")
df_boston_reviews = pd.read_csv("C:\\Github\\personal\\udacity_airbnb\\src_data\\airbnb\\boston\\project_data\\reviews.csv")

In [13]:
df_boston_reviews.info()
df_boston_reviews.head(n=3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     84849 non-null  int64
 1   id             84849 non-null  int64
 2   date           84849 non-null  object
 3   reviewer_id    84849 non-null  int64
 4   reviewer_name  84849 non-null  object
 5   comments       84831 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.9+ MB

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."